{% load static %}
<!DOCTYPE html>
<html lang="ru">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>
    Главная | BakeCake
  </title>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Ubuntu&display=swap" rel="stylesheet">
  <!-- connect to Bootstrap CDN -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" 
  rel="stylesheet"
  integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3"
  crossorigin="anonymous">
  <script 
  src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" 
  integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" 
  crossorigin="anonymous"></script>
</head>

<body style="font-family: 'Ubuntu';">
  <div class="container-fluid min-vh-100 p-3 border border-5">
    <nav class="navbar bg-dark">
      <div class="container-sm">
        <span class="navbar-brand mb-0 h1 text-light border rounded-pill">
          <a href="{% url 'home' %}"
          style="color: whitesmoke; text-decoration:none"><span style="color: gold">B</span>ake<span style="color: gold">C</span>ake</a>
        </span>
        {% if request.resolver_match.view_name != 'home' and request.resolver_match.view_name != 'login' and request.resolver_match.view_name != 'signup'%}
          <div class="d-flex flex-row-reverse text-light">
            <div class="p-2">
              <a href="{% url 'make_cake_page' %}"
              {% if request.resolver_match.view_name == 'make_cake_page' %}
                class="text-warning"
              {% endif %}
              style="color: whitesmoke; text-decoration:none">
                Собрать торт
              </a>
            </div>
            <div class="p-2">
              <a href="{% url 'account' %}"
              {% if request.resolver_match.view_name == 'account' %}
                class="text-warning"
              {% endif %}
              style="color: whitesmoke; text-decoration:none">
                Мои заказы
              </a>
            </div>
          </div>
        {% endif %}
        <div class="d-flex flex-row-reverse text-light">
          <div class="p-2">
            {% if request.user.is_authenticated %}
            <a href="{% url 'logout' %}"
            style="color: whitesmoke; text-decoration:none">
              Выйти
            </a>
            {% endif %}
          </div>
          {% if request.user.is_staff %}
          <div class="p-2">
            <a href="{% url 'admin:index' %}"
            style="color: whitesmoke; text-decoration:none">
              Админка
            </a>
          </div>
          {% endif %}
        </div>
      </div>
    </nav>
    {% block content %}
    {% endblock content %}
  </div>
  {% block script %}
  {% endblock %}
</body>
</html>

<!-- color: #75392e; -->